@import url('https://fonts.googleapis.com/css?family=Numans');

h3 {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
header.masthead {

  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}
/* Made with love by Mutiullah Samim*/

html,
body {
  /* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100%;
  font-family: 'Numans', sans-serif;
}

.login, .login header.masthead {
  height: 100%;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  /* height: 370px; */
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

.login .card-footer {
  padding-top: 0;
}

.create {
  /* height:100%; */
}

.login-err {
  font-size: 14px;
  margin-top: 60px !important;
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-err p {
  margin: 0;
}

.create__post__user .masthead {
  height: 100%;
  padding-top: 7rem!important;
  padding-bottom: 0;
}

.create__post__user .btn-send {
  background-color: #212529;
  color: #ffc800;
  border:none;
  font-weight: 600;
} 
.create__post__user header.masthead {
  background-attachment: fixed;
}

header.vh-110 {
  height: 110vh !important; 
  /* height: 100%; */
}

ul.signup-err {
  display: flex;
  flex-flow: column;
  text-align: initial;
  font-size: 14px;
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 2px;
}

div.signup-err {
  margin-top: 60px !important;
  padding: 0.75rem 0;
}

p.feedback-err {
  color: #ff4040 !important; 
  font-size: 14px;
  margin-top: 1px;
}